<div class="header">
    <button class="toggle-btn" id="sidebarToggle">
        <i class="fas fa-bars"></i>
    </button>
    <a href="#" class="logo">
        <img src="~/images/logo.jpg" alt="Spice Mart Logo" height="50">
    </a> 
    <h4 class="ms-2 mb-0">Backoffice</h4>        
    <div class="header-right">
        <span class="me-2 fw-semibold">John Doe (Super Admin)</span>
        <a href="javascript:void(0)" class="text-black">Logout</a>
    </div>
</div>