@model IReadOnlyList<Ecommerce3.Admin.ViewModels.Image.ImageListItemViewModel>

<tbody>
<tr>
    <td>
        <img src="https://placehold.co/60x60" class="img-fluid rounded" />
    </td>
    <td>brand-banner-1.jpg</td>
    <td>Large</td>
    <td>Main Brand Banner</td>
    <td>Brand Banner</td>
    <td>Lazy</td>
    <td><a href="#">https://example.com</a></td>
    <td>_blank</td>
    <td class="text-end">1</td>
    <td class="text-center">
        <a href="#" data-bs-toggle="modal" data-bs-target="#editImageModal1">
            <i class="fas fa-edit me-2 fs-6 text-success"></i>
        </a>
        <a href="#" data-bs-toggle="modal" data-bs-target="#deleteImageModal1">
            <i class="fas fa-trash fs-6 text-danger"></i>
        </a>
    </td>
</tr>
<tr>
    <td>
        <img src="https://placehold.co/60x60" class="img-fluid rounded">
    </td>
    <td>brand-thumbnail.png</td>
    <td>Small</td>
    <td>Brand Thumbnail</td>
    <td>Thumbnail Image</td>
    <td>Eager</td>
    <td><a href="#">https://example.com/brand</a></td>
    <td>_parent</td>
    <td class="text-end">2</td>
    <td class="text-center">
        <a href="#" data-bs-toggle="modal" data-bs-target="#editImageModal1">
            <i class="fas fa-edit me-2 fs-6 text-success"></i>
        </a>
        <a href="#" data-bs-toggle="modal" data-bs-target="#deleteImageModal1">
            <i class="fas fa-trash fs-6 text-danger"></i>
        </a>
    </td>
</tr>
</tbody>