<tbody id="AttributesTableBody">
    <tr>
        <td>Colour</td>
        <td>Red, Yellow, Green</td>
        <td class="text-end">1</td>
        <td class="text-center">
            <a href="#" data-bs-toggle="modal" data-bs-target="#editAttributeModal">
                <i class="fas fa-edit me-2 fs-6 text-success"></i>
            </a>
            <a href="#" data-bs-toggle="modal" data-bs-target="#deleteAttributeModal">
                <i class="fas fa-trash fs-6 text-danger"></i>
            </a>
        </td>
    </tr>
    <tr>
        <td>Storage</td>
        <td>128GB, 256GB</td>
        <td class="text-end">2</td>
        <td class="text-center">
            <a href="#" data-bs-toggle="modal" data-bs-target="#editAttributeModal">
                <i class="fas fa-edit me-2 fs-6 text-success"></i>
            </a>
            <a href="#" data-bs-toggle="modal" data-bs-target="#deleteAttributeModal">
                <i class="fas fa-trash fs-6 text-danger"></i>
            </a>
        </td>
    </tr>
 </tbody>    