@using Ecommerce3.Admin.ViewComponents
@using Ecommerce3.Contracts.DTOs.Image
@using Ecommerce3.Domain.Entities

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
    <!-- Images -->
    @await Component.InvokeAsync("Images", new
    {
        parentEntityType = typeof(Page),
        parentEntityId = 1,
        imageEntityType = typeof(PageImage),
        images = new List<ImageDTO>()
    })
</head>
<body>
<div>

</div>
</body>
</html>