@model IReadOnlyList<BreadcrumbItem>

<div class="breadcrumb-wrapper">
    <div class="container">
        <nav class="breadcrumb">
            <a asp-controller="Home" asp-action="Index" class="breadcrumb-item home"></a>
            @foreach (var breadcrumbItem in Model)
            {
                if (breadcrumbItem.Url is null)
                {
                    <a class="breadcrumb-item active">@breadcrumbItem.Text</a>
                }
                else
                {
                    <a href="@breadcrumbItem.Url" class="breadcrumb-item">@breadcrumbItem.Text</a>
                }
            }
        </nav>
    </div>
</div>