<section class="hero-slider-section container">
    <div class="splide" id="hero-slider" aria-label="Hero Slider">
        <div class="splide__track">
            <ul class="splide__list">
                <li class="splide__slide">
                    <picture>
                        <source media="(min-width: 640px)" srcset="images/premium-nuts-banner.jpg"/>
                        <img src="images/slide-1-mob.jpg" alt="Premium Spices Collection"/>
                    </picture>
                </li>
                <li class="splide__slide">
                    <picture>
                        <source media="(min-width: 640px)" srcset="images/slide-2-desktop.jpg"/>
                        <img src="images/slide-2-mob.jpg" alt="Premium Spices Collection"/>
                    </picture>
                </li>
                <li class="splide__slide">
                    <picture>
                        <source media="(min-width: 640px)" srcset="images/slide-3-desktop.jpg"/>
                        <img src="images/slide-3-mob.jpg" alt="Premium Spices Collection" />
                    </picture>
                </li>
            </ul>
        </div>
    </div>
</section>