@model IEnumerable<Ecommerce3.Contracts.DTO.StoreFront.Image.ImageDTO>
<section class="hero-slider-section container">
    <div class="splide" id="hero-slider" aria-label="Hero Slider">
        <div class="splide__track">
            <ul class="splide__list">
                @foreach (var image in Model)
                {
                    var imagePath = System.IO.Path.Combine(ImageOptions.Value.PathString, image.FileName);
                    <li class="splide__slide">
                        <picture>
                            <source media="(min-width: 640px)"
                                    srcset=@imagePath/>
                            <img src=@imagePath alt="@image.AltText" loading="@image.Loading"
                                 title="@image.Title"/>
                        </picture>
                    </li>
                }
            </ul>
        </div>
    </div>
</section>