<header class="top-header">
    <div class="container">
        <div class="top-header-content">
            <div class="logo">
                <div class="bw-nav-open">
                    <button class="bw-btn bw-navbtn" aria-controls="top-header" aria-label="Spicemart Navigation">
                    </button>
                </div>
                <a class="logo-icon" href="#"><img src="~/images/h-logo.svg" width="150" height="83" alt="Spice Mart"></a>
            </div>

            <div class="search-bar">
                <input type="text" placeholder="SEARCH FOR PRODUCTS...">
                <button class="search-btn"><img src="~/images/search-icon.svg" width="22" height="22" alt="Search">
                </button>
            </div>

            <div class="header-actions">
                <a href="#" class="action-item search">
                    <img src="~/images/search-icon.svg" width="15" height="15" alt="Search">
                    <span>Search</span>
                </a>
                <a href="#" class="action-item">
                    <img src="~/images/favourites.svg" width="50" height="50" alt="Favourites">
                    <span>Favourites</span>
                </a>
                <a href="#" class="action-item">
                    <img src="~/images/myaccount.svg" width="50" height="50" alt="My Account">
                    <span>My Account</span>
                </a>
                <button class="cart-btn-mob" id="cartview">
                    <div class="cart-icon"><span class="cart-badge">0</span></div>
                    <span>£0.00</span>
                </button>
            </div>
            <div class="trustpilot">
                <span class="trustpilot-text">Excellent</span>
                <span class="stars">★★★★★</span>
                <a href="#" class="trustpilot-link">10,856 reviews on</a>
                <span style="color: #00b67a; font-weight: bold;">★ Trustpilot</span>
            </div>
        </div>
    </div>

    <nav class="r-h-container" id="top-header">
        <div class="bw-container">
            <div class="bw-content">
                <div class="bw-nav">
                    <div class="bw-slide">
                        <div class="bw-navtitle"><span></span></div>
                        <div class="bw-menu">
                            <div class="bw-menu-scrollbar">
                                <ul class="bw-navitems bw-navlevel1 bw-translate-0">


                                    <li class="bw-navitem b_c">
                                        <a class="bw-navlink bw-navfold bw-navlinklevel1 mLinq">
                                            Nuts, Seeds & Fruits
                                        </a>
                                        <div class="bw-navitems bw-navlevel2">
                                            <div class="bw-wrap">
                                                <ul class="bw-column">
                                                    <li class="bw-navitem">
                                                        <span class="bw-navlink bw-navfold mLinq">Nuts</span>
                                                        <div class="bw-navitems bw-navlevel3">
                                                            <ul class="bw-navitems-group">
                                                                <li class="bw-navitem"><a href="#" class="bw-navlink">Almonds</a>
                                                                </li>
                                                                <li class="bw-navitem"><a href="#" class="bw-navlink">Cashews</a>
                                                                </li>
                                                                <li class="bw-navitem"><a href="#" class="bw-navlink">Pistachios</a>
                                                                </li>
                                                                <li class="bw-navitem"><a href="#" class="bw-navlink">Walnuts</a>
                                                                </li>
                                                                <li class="bw-navitem"><a href="#" class="bw-navlink">Mixed
                                                                        Nuts</a></li>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                </ul>
                                                <ul class="bw-column">
                                                    <li class="bw-navitem">
                                                        <span class="bw-navlink bw-navfold mLinq">Seeds</span>
                                                        <div class="bw-navitems bw-navlevel3">
                                                            <ul class="bw-navitems-group">
                                                                <li class="bw-navitem"><a href="#" class="bw-navlink">Chia
                                                                        Seeds</a></li>
                                                                <li class="bw-navitem"><a href="#" class="bw-navlink">Flax
                                                                        Seeds</a></li>
                                                                <li class="bw-navitem"><a href="#" class="bw-navlink">Pumpkin
                                                                        Seeds</a></li>
                                                                <li class="bw-navitem"><a href="#" class="bw-navlink">Sunflower
                                                                        Seeds</a></li>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                </ul>
                                                <ul class="bw-column">
                                                    <li class="bw-navitem">
                                                        <span class="bw-navlink bw-navfold mLinq">Dried Fruits</span>
                                                        <div class="bw-navitems bw-navlevel3">
                                                            <ul class="bw-navitems-group">
                                                                <li class="bw-navitem"><a href="#" class="bw-navlink">Dates</a>
                                                                </li>
                                                                <li class="bw-navitem"><a href="#" class="bw-navlink">Raisins</a>
                                                                </li>
                                                                <li class="bw-navitem"><a href="#" class="bw-navlink">Apricots</a>
                                                                </li>
                                                                <li class="bw-navitem"><a href="#" class="bw-navlink">Figs</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                </ul>
                                                <ul class="bw-column">
                                                    <li class="bw-navitem">
                                                        <span class="bw-navlink bw-navfold mLinq">Featured</span>
                                                        <div class="bw-navitems bw-navlevel3">
                                                            <ul class="bw-navitems-group">
                                                                <li class="bw-navitem"><a href="#" class="bw-navlink">Organic
                                                                        Selection</a></li>
                                                                <li class="bw-navitem"><a href="#" class="bw-navlink">Best
                                                                        Sellers</a></li>
                                                                <li class="bw-navitem"><a href="#" class="bw-navlink">New
                                                                        Arrivals</a></li>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>


                                    <li class="bw-navitem b_c">
                                        <a class="bw-navlink bw-navfold bw-navlinklevel1 mLinq">
                                            Food Cupboard
                                        </a>
                                        <div class="bw-navitems bw-navlevel2">
                                            <div class="bw-wrap">
                                                <ul class="bw-column">
                                                    <li class="bw-navitem">
                                                        <span class="bw-navlink bw-navfold mLinq">Rice & Grains</span>
                                                        <div class="bw-navitems bw-navlevel3">
                                                            <ul class="bw-navitems-group">
                                                                <li class="bw-navitem"><a href="#" class="bw-navlink">Basmati
                                                                        Rice</a></li>
                                                                <li class="bw-navitem"><a href="#" class="bw-navlink">Brown
                                                                        Rice</a></li>
                                                                <li class="bw-navitem"><a href="#" class="bw-navlink">Quinoa</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                </ul>
                                                <ul class="bw-column">
                                                    <li class="bw-navitem">
                                                        <span
                                                            class="bw-navlink bw-navfold mLinq">Oils & Condiments</span>
                                                        <div class="bw-navitems bw-navlevel3">
                                                            <ul class="bw-navitems-group">
                                                                <li class="bw-navitem"><a href="#" class="bw-navlink">Cooking
                                                                        Oils</a></li>
                                                                <li class="bw-navitem"><a href="#" class="bw-navlink">Sauces</a>
                                                                </li>
                                                                <li class="bw-navitem"><a href="#" class="bw-navlink">Vinegars</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                </ul>
                                                <ul class="bw-column">
                                                    <li class="bw-navitem">
                                                        <span class="bw-navlink bw-navfold mLinq">Pasta & Noodles</span>
                                                        <div class="bw-navitems bw-navlevel3">
                                                            <ul class="bw-navitems-group">
                                                                <li class="bw-navitem"><a href="#" class="bw-navlink">Italian
                                                                        Pasta</a></li>
                                                                <li class="bw-navitem"><a href="#" class="bw-navlink">Asian
                                                                        Noodles</a></li>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                </ul>
                                                <ul class="bw-column">
                                                    <li class="bw-navitem">
                                                        <span class="bw-navlink bw-navfold mLinq">Canned Goods</span>
                                                        <div class="bw-navitems bw-navlevel3">
                                                            <ul class="bw-navitems-group">
                                                                <li class="bw-navitem"><a href="#" class="bw-navlink">Vegetables</a>
                                                                </li>
                                                                <li class="bw-navitem"><a href="#" class="bw-navlink">Beans</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>

                                    <li class="bw-navitem b_c">
                                        <a class="bw-navlink bw-navfold bw-navlinklevel1 mLinq">
                                            Snacks
                                        </a>
                                        <div class="bw-navitems bw-navlevel2">
                                            <div class="bw-wrap">
                                                <ul class="bw-column">
                                                    <li class="bw-navitem">
                                                        <span class="bw-navlink bw-navfold mLinq">Healthy Snacks</span>
                                                        <div class="bw-navitems bw-navlevel3">
                                                            <ul class="bw-navitems-group">
                                                                <li class="bw-navitem"><a href="#" class="bw-navlink">Trail
                                                                        Mix</a></li>
                                                                <li class="bw-navitem"><a href="#" class="bw-navlink">Protein
                                                                        Bars</a></li>
                                                                <li class="bw-navitem"><a href="#" class="bw-navlink">Fruit
                                                                        Bars</a></li>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                </ul>
                                                <ul class="bw-column">
                                                    <li class="bw-navitem">
                                                        <span class="bw-navlink bw-navfold mLinq">Chips & Crisps</span>
                                                        <div class="bw-navitems bw-navlevel3">
                                                            <ul class="bw-navitems-group">
                                                                <li class="bw-navitem"><a href="#" class="bw-navlink">Vegetable
                                                                        Chips</a></li>
                                                                <li class="bw-navitem"><a href="#" class="bw-navlink">Popcorn</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                </ul>
                                                <ul class="bw-column">
                                                    <li class="bw-navitem">
                                                        <span class="bw-navlink bw-navfold mLinq">Sweet Treats</span>
                                                        <div class="bw-navitems bw-navlevel3">
                                                            <ul class="bw-navitems-group">
                                                                <li class="bw-navitem"><a href="#" class="bw-navlink">Chocolate</a>
                                                                </li>
                                                                <li class="bw-navitem"><a href="#" class="bw-navlink">Candy</a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                </ul>
                                                <ul class="bw-column">
                                                    <li class="bw-navitem">
                                                        <span class="bw-navlink bw-navfold mLinq">Crackers</span>
                                                        <div class="bw-navitems bw-navlevel3">
                                                            <ul class="bw-navitems-group">
                                                                <li class="bw-navitem"><a href="#" class="bw-navlink">Rice
                                                                        Crackers</a></li>
                                                                <li class="bw-navitem"><a href="#" class="bw-navlink">Wheat
                                                                        Crackers</a></li>
                                                            </ul>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>


                                    <li class="bw-navitem b_c"><a href="shop-by-brand" title="Shop By Brand"
                                                                  class="bw-navlink bw-navfold bw-navlinklevel1 mLinq single_link">Chilled</a>
                                    </li>


                                    <li class="bw-navitem b_c"><a href="shop-by-brand" title="Shop By Brand"
                                                                  class="bw-navlink bw-navfold bw-navlinklevel1 mLinq single_link">Welness</a>
                                    </li>

                                    <li class="bw-navitem b_c"><a href="shop-by-brand" title="Shop By Brand"
                                                                  class="bw-navlink bw-navfold bw-navlinklevel1 mLinq single_link">Supplements</a>
                                    </li>

                                </ul>
                                <button class="cart-btn single_link" id="cartview">
                                    <div class="cart-icon"><span class="cart-badge">0</span></div>
                                    <span>£0.00</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="features-bar">
        <div class="container">
            <div class="features splide" id="featureSlider">
                <div class="splide__track">
                    <ul class="splide__list">
                        <li class="feature splide__slide">
                            <div class="trustpilot">
                                <span class="trustpilot-text">Excellent</span>
                                <span class="stars">★★★★★</span>
                                <a href="#" class="trustpilot-link">10,856 reviews on</a>
                                <span style="color: #00b67a; font-weight: bold;">★ Trustpilot</span>
                            </div>
                        </li>
                        <li class="feature splide__slide">
                            <span class="feature-icon"><img src="~/images/quality-assured.svg" width="50" height="50"
                                                            alt="30-Day Return Guarantee"></span>
                            <span>30-Day Return Guarantee</span>
                        </li>
                        <li class="feature splide__slide">
                            <span class="feature-icon"><img src="~/images/delivery-van.svg" width="50" height="50"
                                                            alt="Free Delivery on Orders Over £20"></span>
                            <span>Free Delivery on Orders Over £20</span>
                        </li>
                        <li class="feature splide__slide">
                            <span class="feature-icon"><img src="~/images/call-support.svg" width="50" height="50"
                                                            alt="Speak to an Expert"></span>
                            <span>Speak to an Expert</span>
                        </li>
                        <li class="feature splide__slide">
                            <span class="feature-icon"><img src="~/images/call-icon.svg" width="50" height="50"
                                                            alt="Call US"></span>
                            <span><strong>0116 262 4929</strong></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


</header>