@using Ecommerce3.Contracts.DTOs
@using Ecommerce3.Domain.Enums
@model Ecommerce3.Admin.ViewModels.ProductAttribute.EditProductAttributeViewModel

<div class="content-section">
    <div class="d-flex justify-content-between align-items-center mb-2">
        <!-- Left side: Heading -->
        <h2 class="text-danger fw-bold fs-3 mb-0">Edit Product Attribute - @Model.Name</h2>
    </div>

    <form method="post" asp-action="Edit">
        @Html.AntiForgeryToken()
        <input type="hidden" id="Id" value="@Model.Id"/>

        <!-- General -->
        <div class="card mb-4">
            <div class="card-header">
                <h5 class="mb-0 text-muted py-2"><i class="fas fa-info"></i> General Info</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label fw-bold required" asp-for="Name"></label>
                            <input type="text" class="form-control" asp-for="Name">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label fw-bold required" asp-for="Slug"></label>
                            <input type="text" class="form-control" asp-for="Slug">
                            <span asp-validation-for="Slug" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label fw-bold required" asp-for="Display">Display</label>
                            <input type="text" class="form-control" asp-for="Display">
                            <span asp-validation-for="Display" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label fw-bold required" asp-for="Breadcrumb"></label>
                            <input type="text" class="form-control" asp-for="Breadcrumb">
                            <span asp-validation-for="Breadcrumb" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label fw-bold required" asp-for="SortOrder"></label>
                            <input type="number" class="form-control" asp-for="SortOrder">
                            <span asp-validation-for="SortOrder" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label fw-bold" asp-for="DataType"></label>
                            <input class="form-control" asp-for="DataType" disabled/>
                            <span asp-validation-for="DataType" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Product Attributes Value for Storage-->
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="mb-0 text-muted py-2">
                    <i class="fas fa-pencil"></i> Values
                </h5>
                <a href="#" class="btn btn-sm btn-primary"
                   data-bs-toggle="modal"
                   data-bs-target="@(Model.DataType switch
                                   {
                                       DataType.Colour => "#addProductAttributeColourValueModal",
                                       DataType.Default => "#add_ValueModal",
                                       DataType.DateOnly => "#addProductAttributeDateOnlyValueModal",
                                       DataType.Decimal => "#add_DecimalValueModal",
                                       _ => ""
                                   })">
                    <i class="fas fa-plus"></i> Add Value
                </a>
            </div>
            <div class="card-body">
                <div class="card-body">
                    <div class="table-responsive">
                        @switch (Model.DataType)
                        {
                            case DataType.Default:
                                <table class="table align-middle">
                                    <thead>
                                    <tr>
                                        <th style="width: 35%;">Name/Slug</th>
                                        <th style="width: 35%;">Display/Breadcrumb</th>
                                        <th class="text-end" style="width: 10%;">Sort Order</th>
                                        <th class="text-end" style="width: 15%;">Created</th>
                                        <th class="text-center" style="width: 5%;">Action</th>
                                    </tr>
                                    </thead>
                                    <partial name="_ProductAttributeValueListPartial" model="Model.Values"/>
                                </table>
                                break;
                            case DataType.Decimal:
                                <table class="table align-middle">
                                    <thead>
                                    <tr>
                                        <th style="width: 35%;">Name/Slug</th>
                                        <th class="text-end" style="width: 10%;">Sort Order</th>
                                        <th class="text-end" style="width: 15%;">Created</th>
                                        <th class="text-center" style="width: 5%;">Action</th>
                                    </tr>
                                    </thead>
                                    <partial name="_ProductAttributeDecimalValueListPartial"
                                             model="Model.Values.OfType<ProductAttributeDecimalValueDTO>().ToList()"/>
                                </table>
                                break;
                            case DataType.Colour:
                                <table class="table align-middle">
                                    <thead>
                                    <tr>
                                        <th style="width: 35%;">Name/Slug</th>
                                        <th class="text-end" style="width: 10%;">Sort Order</th>
                                        <th class="text-end" style="width: 15%;">Created</th>
                                        <th class="text-center" style="width: 5%;">Action</th>
                                    </tr>
                                    </thead>
                                    <partial name="_ProductAttributeColourValueListPartial"
                                             model="Model.Values.OfType<ProductAttributeColourValueDTO>().ToList()"/>
                                </table>
                                break;
                            case DataType.DateOnly:
                                <table class="table align-middle">
                                    <thead>
                                    <tr>
                                        <th style="width: 35%;">Name/Slug</th>
                                        <th class="text-end" style="width: 10%;">Sort Order</th>
                                        <th class="text-end" style="width: 15%;">Created</th>
                                        <th class="text-center" style="width: 5%;">Action</th>
                                    </tr>
                                    </thead>
                                    <partial name="_ProductAttributeDateOnlyValueListPartial"
                                             model="Model.Values.OfType<ProductAttributeDateOnlyValueDTO>().ToList()"/>
                                </table>
                                break;
                            case DataType.Boolean:
                                <table class="table align-middle">
                                    <thead>
                                    <tr>
                                        <th style="width: 35%;">Name/Slug</th>
                                        <th class="text-end" style="width: 10%;">Sort Order</th>
                                        <th class="text-end" style="width: 15%;">Created</th>
                                        <th class="text-center" style="width: 5%;">Action</th>
                                    </tr>
                                    </thead>
                                    <partial name="_ProductAttributeBooleanValueListPartial"
                                             model="Model.Values.OfType<ProductAttributeBooleanValueDTO>().ToList()"/>
                                </table>
                                break;
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="row mb-7">
            <div class="col-xl-12">
                <button type="submit" class="btn btn-primary float-end">Update</button>
            </div>
        </div>
    </form>
</div>
@switch (Model.DataType)
{
    case DataType.Default:
        // Add Product Attribute Text Value Modal.
        <div class="modal" id="add_ValueModal" tabindex="-1" aria-labelledby="add_ValueModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-muted" id="add_ValueModalLabel">
                            <i class="fas fa-plus"></i> Add Value
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label fw-bold" for="add_Value">Value</label>
                                    <input type="text" class="form-control" id="add_Value">
                                    <span class="text-danger" id="add_ValueError"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label fw-bold" for="add_Slug">Slug</label>
                                    <input type="text" class="form-control" id="add_Slug">
                                    <span class="text-danger" id="add_SlugError"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label fw-bold" for="add_Display">Display</label>
                                    <input type="text" class="form-control" id="add_Display">
                                    <span class="text-danger" id="add_DisplayError"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label fw-bold" for="add_Breadcrumb">Breadcrumb</label>
                                    <input type="text" class="form-control" id="add_Breadcrumb">
                                    <span class="text-danger" id="add_BreadcrumbError"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label fw-bold" for="add_SortOrder">Sort Order</label>
                                    <input type="number" class="form-control" id="add_SortOrder">
                                    <span class="text-danger" id="add_SortOrderError"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" id="add_ValueSave">Submit</button>
                    </div>
                </div>
            </div>
        </div>

        // Edit Product Attribute Text Value Model.
        <div class="modal" id="edit_ValueModal" tabindex="-1"
             aria-labelledby="edit_ModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-muted" id="edit_ModalLabel">
                            <i class="fas fa-plus"></i> Edit Value
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <input type="hidden" id="edit_ValueId"/>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label fw-bold" for="edit_Value">Value</label>
                                    <input type="text" class="form-control" id="edit_Value">
                                    <span class="text-danger" id="edit_ValueError"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label fw-bold" for="edit_Slug">Slug</label>
                                    <input type="text" class="form-control" id="edit_Slug">
                                    <span class="text-danger" id="edit_SlugError"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label fw-bold" for="edit_Display">Display</label>
                                    <input type="text" class="form-control" id="edit_Display">
                                    <span class="text-danger" id="edit_DisplayError"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label fw-bold" for="edit_Breadcrumb">Breadcrumb</label>
                                    <input type="text" class="form-control" id="edit_Breadcrumb">
                                    <span class="text-danger" id="edit_BreadcrumbError"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label fw-bold" for="edit_SortOrder">Sort Order</label>
                                    <input type="number" class="form-control" id="edit_SortOrder">
                                    <span class="text-danger" id="edit_SortOrderError"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" id="edit_TextValueId"/>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" id="edit_ValueSave">Submit
                        </button>
                    </div>
                </div>
            </div>
        </div>

        // Delete Product Attribute Text Value Modal.
        <div class="modal" id="delete_ValueModal" tabindex="-1"
             aria-labelledby="deleteProductAttributeValueModalLabel" aria-hidden="true">>
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content border-0 shadow-lg">
                    <div class="modal-header text-danger">
                        <h5 class="modal-title" id="deleteProductAttributeValueModalLabel">
                            <i class="fas fa-trash"></i> Delete Value
                        </h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <p class="text-muted">
                            Are you sure you want to delete <span class="text-danger" id="delete_Value"></span>?
                        </p>
                    </div>

                    <div class="modal-footer">
                        <input type="hidden" id="delete_Id"/>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-danger" id="delete_ValueButton">Delete</button>
                    </div>
                </div>
            </div>
        </div>
        break;

    case DataType.Boolean:
        <!-- Edit Product Attribute Boolean Value Modal -->
        <div class="modal" id="editProductAttributeBooleanValueModal" tabindex="-1"
             aria-labelledby="editProductAttributeBooleanValueModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-muted" id="editProductAttributeBooleanValueModalLabel">
                            <i class="fas fa-plus"></i> Edit Value
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <input type="hidden" value="ProductAttributeBooleanValue"/>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label fw-bold" for="edit_BooleanValue">Value</label>
                                    <input type="text" class="form-control" id="edit_BooleanValue">
                                    <span class="text-danger" id="edit_BooleanValueError"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label fw-bold" for="edit_BooleanSlug">Slug</label>
                                    <input type="text" class="form-control" id="edit_BooleanSlug">
                                    <span class="text-danger" id="edit_BooleanSlugError"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label fw-bold" for="edit_BooleanDisplay">Display</label>
                                    <input type="text" class="form-control" id="edit_BooleanDisplay">
                                    <span class="text-danger" id="edit_BooleanDisplayError"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label fw-bold" for="edit_BooleanBreadcrumb">Breadcrumb</label>
                                    <input type="text" class="form-control" id="edit_BooleanBreadcrumb">
                                    <span class="text-danger" id="edit_BooleanBreadcrumbError"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label fw-bold" for="edit_BooleanSortOrder">Sort Order</label>
                                    <input type="number" class="form-control" id="edit_BooleanSortOrder">
                                    <span class="text-danger" id="edit_BooleanSortOrderError"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label fw-bold" for="edit_Boolean">Boolean Value</label>
                                    <input type="text" class="form-control form-control-solid" id="edit_Boolean"
                                           readonly>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <input type="hidden" id="edit_BooleanValueId"/>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" id="editProductAttributeBooleanValue_Save">
                            Submit
                        </button>
                    </div>
                </div>
            </div>
        </div>
        break;

    case DataType.Colour:
        // Add Product Attribute Colour Value Modal.
        <div class="modal fade" id="addProductAttributeColourValueModal" tabindex="-1"
             aria-labelledby="addProductAttributeColourValueModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-muted" id="addProductAttributeColourValueModalLabel">
                            <i class="fas fa-plus"></i> Add Value
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <input type="hidden" id="add_ColourDiscriminator" value="ProductAttributeColourValue"/>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label fw-bold" for="add_ColourValue">Value</label>
                                    <input type="text" class="form-control" id="add_ColourValue">
                                    <span class="text-danger" id="add_ColourValueError"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label fw-bold" for="add_ColourSlug">Slug</label>
                                    <input type="text" class="form-control" id="add_ColourSlug">
                                    <span class="text-danger" id="add_ColourSlugError"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label fw-bold" for="add_ColourDisplay">Display</label>
                                    <input type="text" class="form-control" id="add_ColourDisplay">
                                    <span class="text-danger" id="add_ColourDisplayError"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label fw-bold" for="add_ColourBreadcrumb">Breadcrumb</label>
                                    <input type="text" class="form-control" id="add_ColourBreadcrumb">
                                    <span class="text-danger" id="add_ColourBreadcrumbError"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label fw-bold" for="add_ColourSortOrder">Sort Order</label>
                                    <input type="number" class="form-control" id="add_ColourSortOrder">
                                    <span class="text-danger" id="add_ColourSortOrderError"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label fw-bold" for="add_ColourHexCode">Hex Code</label>
                                    <input type="text" class="form-control" id="add_ColourHexCode">
                                    <span class="text-danger" id="add_ColourHexCodeError"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label fw-bold" for="add_ColourFamily">Colour Family</label>
                                    <input type="text" class="form-control" id="add_ColourFamily">
                                    <span class="text-danger" id="add_ColourFamilyError"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label fw-bold" for="add_ColourFamilyHexCode">Colour Family Hex
                                        Code</label>
                                    <input type="text" class="form-control" id="add_ColourFamilyHexCode">
                                    <span class="text-danger" id="add_ColourFamilyHexCodeError"></span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" id="addProductAttributeColourValue_Save">Submit
                        </button>
                    </div>
                </div>
            </div>
        </div>

        // Edit Product Attribute Colour Value Modal.
        <div class="modal fade" id="editProductAttributeColourValueModal" tabindex="-1"
             aria-labelledby="editProductAttributeColourValueModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-muted" id="editProductAttributeColourValueModalLabel">
                            <i class="fas fa-plus"></i> Edit Value
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <input type="hidden" value="ProductAttributeColourValue"/>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label fw-bold" for="edit_ColourValue">Value</label>
                                    <input type="text" class="form-control" id="edit_ColourValue">
                                    <span class="text-danger" id="edit_ColourValueError"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label fw-bold" for="edit_ColourSlug">Slug</label>
                                    <input type="text" class="form-control" id="edit_ColourSlug">
                                    <span class="text-danger" id="edit_ColourSlugError"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label fw-bold" for="edit_ColourDisplay">Display</label>
                                    <input type="text" class="form-control" id="edit_ColourDisplay">
                                    <span class="text-danger" id="edit_ColourDisplayError"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label fw-bold" for="edit_ColourBreadcrumb">Breadcrumb</label>
                                    <input type="text" class="form-control" id="edit_ColourBreadcrumb">
                                    <span class="text-danger" id="edit_ColourBreadcrumbError"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label fw-bold" for="edit_ColourSortOrder">Sort Order</label>
                                    <input type="number" class="form-control" id="edit_ColourSortOrder">
                                    <span class="text-danger" id="Edit_ColourSortOrderError"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label fw-bold" for="edit_ColourHexCode">Hex Code</label>
                                    <input type="text" class="form-control" id="edit_ColourHexCode">
                                    <span class="text-danger" id="edit_ColourHexCodeError"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label fw-bold" for="edit_ColourFamily">Colour Family</label>
                                    <input type="text" class="form-control" id="edit_ColourFamily">
                                    <span class="text-danger" id="edit_ColourFamilyError"></span>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label fw-bold" for="edit_ColourFamilyHexCode">Colour Family Hex
                                        Code</label>
                                    <input type="text" class="form-control" id="edit_ColourFamilyHexCode">
                                    <span class="text-danger" id="edit_ColourFamilyHexCodeError"></span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <input type="hidden" id="edit_ColourValueId"/>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" id="editProductAttributeColourValue_Save">Submit
                        </button>
                    </div>
                </div>
            </div>
        </div>

        // Delete Product Attribute Colour Value Modal.
        <div class="modal fade" id="deleteProductAttributeColourValueModal" tabindex="-1"
             aria-labelledby="deleteProductAttributeColourValueModalLabel" aria-hidden="true">>
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content border-0 shadow-lg">
                    <div class="modal-header text-danger">
                        <h5 class="modal-title" id="deleteProductAttributeColourValueModalLabel">
                            <i class="fas fa-trash"></i> Delete Colour Value
                        </h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <p class="text-muted">
                            Are you sure you want to delete <span class="text-danger" id="delete_ColourValue">Red</span>?
                        </p>
                    </div>

                    <div class="modal-footer">
                        <input type="hidden" id="delete_Id"/>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-danger" id="deleteProductAttributeColourValue">Delete
                        </button>
                    </div>
                </div>
            </div>
        </div>
        break;

    case DataType.DateOnly:
        // Add Product Attribute DateOnly Value Modal.
        <div class="modal fade" id="addProductAttributeDateOnlyValueModal" tabindex="-1"
             aria-labelledby="addProductAttributeDateOnlyValueModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-muted" id="addProductAttributeDateOnlyValueModalLabel">
                            <i class="fas fa-plus"></i> Add Value
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <input type="hidden" id="add_ColourDiscriminator" value="ProductAttributeDateOnlyValue"/>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label fw-bold" for="add_DateOnlyValue">Value</label>
                                    <input type="text" class="form-control" id="add_DateOnlyValue">
                                    <span class="text-danger" id="add_DateOnlyValueError"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label fw-bold" for="add_DateOnlySlug">Slug</label>
                                    <input type="text" class="form-control" id="add_DateOnlySlug">
                                    <span class="text-danger" id="add_DateOnlySlugError"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label fw-bold" for="add_DateOnlyDisplay">Display</label>
                                    <input type="text" class="form-control" id="add_DateOnlyDisplay">
                                    <span class="text-danger" id="add_DateOnlyDisplayError"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label fw-bold" for="add_DateOnlyBreadcrumb">Breadcrumb</label>
                                    <input type="text" class="form-control" id="add_DateOnlyBreadcrumb">
                                    <span class="text-danger" id="add_DateOnlyBreadcrumbError"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label fw-bold" for="add_DateOnlySortOrder">Sort Order</label>
                                    <input type="number" class="form-control" id="add_DateOnlySortOrder">
                                    <span class="text-danger" id="add_DateOnlySortOrderError"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label fw-bold" for="add_DateOnly">DateOnly Value</label>
                                    <input type="text" class="form-control" id="add_DateOnly">
                                    <span class="text-danger" id="add_DateOnlyError"></span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" id="addProductAttributeDateOnlyValue_Save">
                            Submit
                        </button>
                    </div>
                </div>
            </div>
        </div>

        // Edit Product Attribute DateOnly Value Model.
        <div class="modal fade" id="editProductAttributeDateOnlyValueModal" tabindex="-1"
             aria-labelledby="editProductAttributeDateOnlyValueModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-muted" id="editProductAttributeDateOnlyValueModalLabel">
                            <i class="fas fa-plus"></i> Edit Value
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <input type="hidden" value="ProductAttributeDateOnlyValue"/>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label fw-bold" for="edit_DateOnlyValue">Value</label>
                                    <input type="text" class="form-control" id="edit_DateOnlyValue">
                                    <span class="text-danger" id="edit_DateOnlyValueError"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label fw-bold" for="edit_DateOnlySlug">Slug</label>
                                    <input type="text" class="form-control" id="edit_DateOnlySlug">
                                    <span class="text-danger" id="edit_DateOnlySlugError"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label fw-bold" for="edit_DateOnlyDisplay">Display</label>
                                    <input type="text" class="form-control" id="edit_DateOnlyDisplay">
                                    <span class="text-danger" id="edit_DateOnlyDisplayError"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label fw-bold" for="edit_DateOnlyBreadcrumb">Breadcrumb</label>
                                    <input type="text" class="form-control" id="edit_DateOnlyBreadcrumb">
                                    <span class="text-danger" id="edit_DateOnlyBreadcrumbError"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label fw-bold" for="edit_DateOnlySortOrder">Sort Order</label>
                                    <input type="number" class="form-control" id="edit_DateOnlySortOrder">
                                    <span class="text-danger" id="edit_DateOnlySortOrderError"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label fw-bold" for="edit_DateOnly">DateOnly Value</label>
                                    <input type="date" class="form-control" id="edit_DateOnly">
                                    <span class="text-danger" id="edit_DateOnlyError"></span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <input type="hidden" id="edit_DateOnlyValueId"/>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" id="editProductAttributeDateOnlyValue_Save">
                            Submit
                        </button>
                    </div>
                </div>
            </div>
        </div>

        // Delete Product Attribute DateOnly Value Modal.
        <div class="modal fade" id="deleteProductAttributeDateOnlyValueModal" tabindex="-1"
             aria-labelledby="deleteProductAttributeDateOnlyValueModalLabel" aria-hidden="true">>
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content border-0 shadow-lg">
                    <div class="modal-header text-danger">
                        <h5 class="modal-title" id="deleteProductAttributeDateOnlyValueModalLabel">
                            <i class="fas fa-trash"></i> Delete DateOnly Value
                        </h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <p class="text-muted">
                            Are you sure you want to delete <span class="text-danger"
                                                                  id="delete_DateOnlyValue">Red</span>?
                        </p>
                    </div>

                    <div class="modal-footer">
                        <input type="hidden" id="delete_Id"/>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-danger" id="deleteProductAttributeDateOnlyValue">Delete
                        </button>
                    </div>
                </div>
            </div>
        </div>

        break;

    case DataType.Decimal:
        // Add Product Attribute Decimal Value Modal.
        <div class="modal" id="add_DecimalValueModal" tabindex="-1"
             aria-labelledby="addProductAttributeDecimalValueModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-muted" id="addProductAttributeDecimalValueModalLabel">
                            <i class="fas fa-plus"></i> Add Decimal Value
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label fw-bold" for="add_DecimalValue">Value</label>
                                    <input type="text" class="form-control" id="add_DecimalValue">
                                    <span class="text-danger" id="add_DecimalValueError"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label fw-bold" for="add_DecimalSlug">Slug</label>
                                    <input type="text" class="form-control" id="add_DecimalSlug">
                                    <span class="text-danger" id="add_DecimalSlugError"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label fw-bold" for="add_DecimalDisplay">Display</label>
                                    <input type="text" class="form-control" id="add_DecimalDisplay">
                                    <span class="text-danger" id="add_DecimalDisplayError"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label fw-bold" for="add_DecimalBreadcrumb">Breadcrumb</label>
                                    <input type="text" class="form-control" id="add_DecimalBreadcrumb">
                                    <span class="text-danger" id="add_DecimalBreadcrumbError"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label fw-bold" for="add_DecimalSortOrder">Sort Order</label>
                                    <input type="number" class="form-control" id="add_DecimalSortOrder">
                                    <span class="text-danger" id="add_DecimalSortOrderError"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" id="addP_DecimalValueSave">Submit
                        </button>
                    </div>
                </div>
            </div>
        </div>

        // Edit Product Attribute Decimal Value Model.
        <div class="modal" id="editProductAttributeDecimalValueModal" tabindex="-1"
             aria-labelledby="editProductAttributeDecimalValueModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title text-muted" id="editProductAttributeDecimalValueModalLabel">
                            <i class="fas fa-plus"></i> Edit Value
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <input type="hidden" id="add_ColourDiscriminator" value="ProductAttributeDecimalValue"/>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label fw-bold" for="edit_DecimalValue">Value</label>
                                    <input type="text" class="form-control" id="edit_DecimalValue">
                                    <span class="text-danger" id="edit_DecimalValueError"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label fw-bold" for="edit_DecimalSlug">Slug</label>
                                    <input type="text" class="form-control" id="edit_DecimalSlug">
                                    <span class="text-danger" id="edit_DecimalSlugError"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label fw-bold" for="edit_DecimalDisplay">Display</label>
                                    <input type="text" class="form-control" id="edit_DecimalDisplay">
                                    <span class="text-danger" id="edit_DecimalDisplayError"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label fw-bold" for="edit_DecimalBreadcrumb">Breadcrumb</label>
                                    <input type="text" class="form-control" id="edit_DecimalBreadcrumb">
                                    <span class="text-danger" id="edit_DecimalBreadcrumbError"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label fw-bold" for="edit_DecimalSortOrder">Sort Order</label>
                                    <input type="number" class="form-control" id="edit_DecimalSortOrder">
                                    <span class="text-danger" id="edit_DecimalSortOrderError"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label class="form-label fw-bold" for="edit_Decimal">Decimal Value</label>
                                    <input type="number" class="form-control" id="edit_Decimal">
                                    <span class="text-danger" id="edit_DecimalError"></span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <input type="hidden" id="edit_DecimalValueId"/>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" id="editProductAttributeDecimalValue_Save">
                            Submit
                        </button>
                    </div>
                </div>
            </div>
        </div>

        // Delete Product Attribute Decimal Value Modal.
        <div class="modal" id="deleteProductAttributeDecimalValueModal" tabindex="-1"
             aria-labelledby="deleteProductAttributeDecimalValueModalLabel" aria-hidden="true">>
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content border-0 shadow-lg">
                    <div class="modal-header text-danger">
                        <h5 class="modal-title" id="deleteProductAttributeDecimalValueModalLabel">
                            <i class="fas fa-trash"></i> Delete Decimal Value
                        </h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <p class="text-muted">
                            Are you sure you want to delete <span class="text-danger"
                                                                  id="delete_DecimalValue">Red</span>?
                        </p>
                    </div>

                    <div class="modal-footer">
                        <input type="hidden" id="delete_Id"/>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-danger" id="deleteProductAttributeDecimalValue">Delete
                        </button>
                    </div>
                </div>
            </div>
        </div>

        break;

    default:
            throw new ArgumentOutOfRangeException();
}

@section Scripts
{
    <script src="~/js/product.attribute.js"></script>
    @if (Model.DataType == DataType.Default)
    {
        <script src="~/js/product.attribute.value.js"></script>
    }
    else if (Model.DataType == DataType.Decimal)
    {
        <script src="~/js/product.attribute.decimal.value.js"></script>
    }
}
