@model List<Ecommerce3.Admin.ViewModels.Common.SelectListViewModel>

@for (int i = 0; i < Model.Count; i++)
{
    var attrId = Model[i].Id;

    <div class="mb-3">
        <label class="form-label fw-bold required">@Model[i].Text</label>

        <select class="form-select"
                name="Attributes[@attrId]"
                id="Attributes_@attrId"
                data-val="true"
                data-val-required="Please select @Model[i].Text">

            <option value="">Select...</option>

            @foreach (var item in Model[i].Values)
            {
                <option value="@item.Value">@item.Text</option>
            }
        </select>

        <span class="text-danger"
              data-valmsg-for="Attributes[@attrId]"
              data-valmsg-replace="true"></span>
    </div>
}